*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  font-family: "GothamPro";
  background-color: var(--body-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: 0.5s;
}

a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  color: var(--text-color);
  text-wrap: nowrap;
}

a:after {
  display: block; 
  content: ""; 
  height: 2px; 
  width: 0%; 
  background-color: var(--accent-color); 
  transition: width 0.4s ease-in-out; 
}

a:not(.pricingPlans__card-link):hover:after,
a:not(.pricingPlans__card-link):focus:after {
width: 100%;
}

a:hover,
a:focus {
  color: var(--accent-color);
  transition: color 0.4s ease-in-out;
}

@media (width <= 660px) {
  body {
    padding: 30px;
  }
}