.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__div {
    display: flex;
    align-items: center;
}

.header__div-text--accent {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    margin-left: 23px;
}

.header__div-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-color);
    margin-left: 63px;
    padding-top: 5px;
}

.header__tel {
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
    margin-right: 31px;
}