@media (width <= 1265px) {
    .info__content {
        margin-right: 0;
    }

    .info__block {
        margin-left: 0;
    }
}

@media (width <= 1100px) {
    .beginning__grid {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 10px;
        justify-content: center;
        row-gap: 15px;
    }

    .beginning__grid-card--small-one,
    .beginning__grid-card--small-two,
    .beginning__grid-card--four,
    .beginning__grid-card--three {
        align-self: flex-start;
    }

    .beginning__grid-card-img {
        display: none;
    }

    .beginning__grid-card--three {
        padding-bottom: 35px;
    }
}

@media (width <= 1010px) {
    .initial__footer {
        margin-top: 10px;
        padding-left: 0;
    }

    .initial__content-body {
        padding-top: 10px;
    }

    .initial__content-img {
        position: absolute;
        z-index: -1;
        width: 100%;
        opacity: 0.5;
        left: 0;
    }

}

@media (width <= 970px) {
    .advantages {
        margin-top: 45px;
    }

    .advantages__content {
        flex-direction: column;
        align-items: center;
    }

    .advantages__content-list {
        margin-top: 10px;
    }

    .forecasts {
        flex-direction: column;
        row-gap: 30px;
    }

    .director {
        margin-top: 0;
        padding-left: 0;
    }

    .director__body {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (width <= 950px) {
    .header__body {
        flex-direction: column-reverse;
        row-gap: 20px;
    }

    .header__div {
        gap: 20px;
    }

    .header__tel {
        display: none;
    }

    .header__div-text {
        margin-left: 10px;
    }

    .footer__info {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (width <= 900px) {
    .pricingPlans__block-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricingPlans__card-list--big {
        display: flex;
        flex-direction: column;
    }

    .pricingPlans__card-item {
        padding-right: 10px;
    }

    .footer__content {
        flex-direction: column;
        row-gap: 20px;
    }

}

@media (width <= 815px) {
    .info__content {
        width: 80%;
    }

    .info__block-title {
        text-align: center;
    }
    
    .info {
        flex-direction: column;
        margin-top: 26px;
        row-gap: 20px;
    }

    .info__block {
        align-items: center;
        width: 100%;
    }

    .info__content-dicorate {
        top: -8px;
    }

    .baner__item {
        justify-content: center;
        padding-left: 0;
    }
}

@media (width <= 745px) {
    .menu__list {
        column-gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .forecasts {
        padding-block: 45px;
    }

    .forecasts__list {
        padding-right: 0;
    }

    .director__body-img-text {
        bottom: -73px;
        right: -17px;
    }
}

@media (width <= 700px) {
    .advantages__content-sirius {
        width: 80%;
        padding-top: 20px;
    }
}

@media (width <= 660px) {
    .header__button {
        width: 80px;
        margin-left: 10px;
    }

    .header__div-text {
        display: none;
    }

    .logo {
        width: 50px;
    }

    .baner__item {
        flex-direction: column;
        align-items: center;
    }
    
    .baner__item-content {
        margin-left: 0;
    }

    .baner {
        padding-bottom: 35px;
    }

    .forecasts__title {
        text-align: center;
        text-wrap: wrap;
    }
}

@media (width <= 600px) {
    .initial {
        margin-top: 20px;
    }

    .initial__content-title {
        text-align: center;
    }

    .initial__footer {
        align-self: center;
        width: 80%;
        justify-content: center;
    }

    .initial__footer-list {
        flex-direction: column;
        row-gap: 30px;
    }

    .footer__block {
        flex-direction: column;
    }

    .footer__block-text {
        text-align: center;
    }

    .footer__list {
        padding-right: 0;
    }

}

@media (width <= 565px) {
    .menu {
        margin-top: 20px;
    }

    .baner__image-text {
        width: 80%;
    }
}