:root {
    --accent-color: #3B1D8F;
    --button-bg-color: #273895;
    --light-color: #FFFFFF;
    --text-color: #303030;
    --gray-dark-color: #404040;
    --gray-light-color: #737373; 
    --body-bg-color: #F4F7FA;
    --blue-color: #2741D0;
}